addons.json
addons/
auth.json
backup/
config.json
discovery.json
dns.json
dns/
homeassistant.json
homeassistant/.HA_VERSION
homeassistant/.cloud/
homeassistant/.shopping_list.json
homeassistant/.storage/
homeassistant/esphome/.gitignore
homeassistant/fitbit.conf
homeassistant/home-assistant.log
homeassistant/home-assistant_v2.db
homeassistant/known_devices.yaml
homeassistant/scenes2.yaml
homeassistant/scripts.yaml
homeassistant/secrets.yaml
homeassistant/tts/
homeassistant/ui-lovelace.yaml
homeassistant/zones.yml
ingress.json
services.json
ssl/
updater.json

